<div class="container">
	<form>
		<h1>Укажите тип проверочных примеров</h1>
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="tags.add"> Сложение
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="tags.sub"> Вычетание
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="tags.div"> Деление
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="tags.mul"> Умножение
			</label>
		</div>
<!-- 		<div>{{tags.add}}</div>
		<div>{{tags.sub}}</div>
		<div>{{tags.div}}</div>
		<div>{{tags.mul}}</div>
		<div>{{selectedTags}}</div>
		<div>{{quizIndexes}}</div>
		<div>{{quizzes}}</div> -->
	</form>
</div>
